<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle%>
    </title>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="../public/css/product_container.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" 	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <%- include('./layouts/navigation_admin.ejs')%>

    <div class = "container">
        <form action="/admin/edit-product" method="POST">
            <input type="hidden" name="id" value="<%=product.id%>">

            <h2> Edit Product </h2>
            <div class = "content">
                <div class = "input-box">
                    <label for = "product"> Product: </label>
                    <input type="text" placeholder="Enter Product Name" id="product" name="product" , value="<%=product.product%>" >
                </div>
                <div class = "input-box">
                    <label for = "price"> Price: </label>
                    <input type="text" placeholder="Enter Price" id="price" name="price" , value="<%=product.price%>">
                </div>
                <div class = "input-box">
                    <label for = "volume"> Volume: </label>
                    <input type="vol" placeholder="Enter Volume" id="volume" name="volume" , value="<%=product.volume%>">
                </div>
                <div class = "input-box">
                    <label for = "brand"> Brand: </label>
                    <input type="text" placeholder="Enter Brand Name" id="brand" name="brand" , value="<%=product.brand%>">
                </div>
                <div class = "input-box">
                    <label for = "sku"> Stocks: </label>
                    <input type="number" placeholder="Enter Stock" id="sku" name="sku" , value="<%=product.sku%>">
                </div>
                <div class = "input-box">
                    <label for = "imageURL"> Image URL: </label>
                    <input type="text" placeholder="Enter Image URL" id="imageURL" name="imageURL" , value="<%=product.imageURL%>">
                </div>

                <div class="button-container"> 
                    <button type="submit"> Submit </button>
                </div>
            </div>
        </form>
    </div>
    
    
</body>
</html>