<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/home_admin.css" rel="stylesheet">
    <link href="../public/css/product_container.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <%- include('./layouts/navigation_admin.ejs') %>

        <!--1st section-->
        <section class="first-section">
            <div class="heading">
                <h3>Sales</h3>
            </div>

            <div class="container">
                
                    <main>
                        <div class="container">
    
                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Product Name</th>
                                    <th>Total Sales</th>
                                    <th>Date</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% sales.forEach(sale => { %>
                                  <tr>
                                    <td>  <%= sale.product_name %></td>
                                    <td>₱  <%= sale.total_sales %></td>
                                    <td>  <%= sale.date %></td>

                                    <td><a href="/admin/edit-sales/<%= sale.id %>" class="btn btn-primary">Update</a>
                                    <td>             <form action="/admin/delete-sales" method="POST" style="display:inline;">
                                      <input type="hidden" name="id" value="<%= sale.id %>">
                                      <button type="submit" class="btn btn-danger">Delete</button>
                                  </form>
  
                                  </td>
                                  </tr>
                                  <% }) %>
                              </table>
                            </div>
                        </div>
                    </main>
                   
            </div>
        </section>
        <%- include('layouts/end.ejs') %>